<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.sunfox.spandanecg.spandansdk">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:allowBackup="true">
<!--        <activity-->
<!--            android:name=".spandan_ui.EcgTestActivity"-->
<!--            android:exported="false"-->
<!--            android:launchMode="singleTask"-->
<!--            android:screenOrientation="landscape"-->
<!--            />-->
<!--        <activity-->
<!--            android:name=".spandan_ui.SpandanDashBoardActivity"-->
<!--            android:exported="true">-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--        </activity>-->
    </application>

</manifest>